<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KappaVault</title>
    <link rel="icon" type="image/png" href="/images/logo2.png">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header class="container navbar">

    <div class="logo-box">

        <img src="/images/logo2.png"
             alt="KappaVault Logo"
             class="logo-img">

        <h2 class="logo">
            KappaVault
        </h2>

    </div>

    <nav class="nav-links">
        <a href="/">Inicio</a>
        <a href="/obras">Catálogo</a>
    </nav>

</header>

<main class="hero container">
    <h1>Tu biblioteca definitiva de anime y manga</h1>

    <p>
        Explora obras increíbles, guarda tus favoritas y comparte reviews con otros fans.
    </p>

    <a href="/obras" class="btn">
        Explorar obras
    </a>
</main>

<footer>
    © 2026 KappaVault ✨
</footer>

</body>
</html>