<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo | KappaVault</title>
    <link rel="icon" type="image/png" href="/images/logo2.png">


    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<header class="container navbar">

    <div class="logo-box">

        <img src="/images/logo2.png"
             alt="KappaVault Logo"
             class="logo-img">

        <h2 class="logo">
            KappaVault
        </h2>

    </div>

    <nav class="nav-links">
        <a href="/">Inicio</a>
        <a href="/obras">Catálogo</a>
    </nav>

</header>

<main class="container">

    <section class="form-card">

        <h1 class="section-title">Crear nueva obra</h1>

        <form th:action="@{/obras/nuevo}" th:object="${nuevaObra}" method="post">
            <input type="text" th:field="*{titulo}" placeholder="Título del Anime" required />
            <input type="text" th:field="*{tipo}" placeholder="Tipo (Anime, Manga, etc.)" />
            <input type="text" th:field="*{genero}" placeholder="Género" />
            <input type="number" th:field="*{anio}" placeholder="Año" />
            <input type="text" th:field="*{imagenUrl}" placeholder="URL de la Imagen" />
            
            <button type="submit">Guardar Anime</button>
        </form>

    </section>

    <h1 class="section-title">Listado de obras</h1>

    <section class="grid">

        <article class="card" th:each="obra : ${obras}">

            <img th:src="${obra.imagenUrl}" alt="Poster">

            <div class="card-content">

                <span class="badge" th:text="${obra.tipo}">
                    Anime
                </span>

                <h3 th:text="${obra.titulo}">
                    Título
                </h3>

                <p>
                    <span th:text="${obra.genero}"></span> ·
                    <span th:text="${obra.anio}"></span>
                </p>

                <a class="btn btn-primary"
                   th:href="@{'/obras/' + ${obra.id}}">
                    Ver detalle
                </a>

            </div>

        </article>

    </section>

</main>

<footer>
    © 2026 KappaVault
</footer>

</body>
</html>